[2014-02-21 08:24] jonasbn opened #1 "POD error in release 1.39"
Lifted from [MetaCPAN](https://metacpan.org/pod/Workflow)

[code]

The issue has also been flagged on [CPANTS](http://cpants.cpanauthors.org/dist/Workflow).

[2014-08-21 18:16] #1 closed, assigned to jonasbn

[2015-09-06 18:47] jonasbn opened #4 "RT:101562 Validator does not validate"
Hi,

After lots of attempts to get the Validator to work I noticed that its
validate method never gets executed. The _init method does and the
validator is in the workflow object but it is not getting executed before
executing an action.
Dumping the response from "$self->get_validators()" in Workflow.pm in
"execute_action" module returns nothing.

I've made a question here with a short example on

[2015-09-06 18:50] jonasbn opened #5 "RT:90097 Condition caching"
Greetings,

Could you possibly add in a near future, a configuration variable that
allows one to decide if the workflow engine should or should not cache the
result of conditions?

The change would be made at Workflow::State::evaluate_action() line 119
where:

if ( exists $self->{'_condition_result_cache'}->{$orig_condition} ) {

could be forced to false if that configuration variable was on.

Tha

[2015-09-06 18:51] jonasbn opened #6 "RT:89900: Context Serialization not working in Workflow::Persister::DB"
Greetings,

I saw that on version 1.37 an issue with the serialization of context was
fixed:

1.37 2013-07-03

- Update recommended

- Added patch from Heiko Schlittermann fixing an issue with serialization of
  context (was evaluated as release 1.35_1)

  https://rt.cpan.org/Public/Bug/Display.html?id=64940

Although when I went to check the provided schemas for
Workflow::Persister::DBI, they see

[2015-09-06 18:52] jonasbn opened #7 "RT:45711 Workflow::State Persistence"
I am using Workflow-1.32 in a web application using FastCGI (Catalyst), which means the application server (the perl program using Workflow) is persistent across calls from user clients ... this is for performance ... the application should still behave as if it were running under CGI from a programmer's point of view.

Anyway, I am seeing what I think is an issue with using Workflow under these c

[2015-09-06 18:54] jonasbn opened #8 "RT:52558 Workflow::Persister::DBI reconnect implementation"
What is the simplest and most direct approach to dealing with  the case
where the mysql server hangs up on Workflow's persister?

"Failed to create workflow: DBD::mysql::st execute failed: MySQL server
has gone away at
/usr/local/lib/perl5/site_perl/5.10.0/Workflow/Persister/DBI.pm line 226."

1) It's not obvious to me where to configure reconnect.
2) If reconnect wasn't an option, I can't see how

[2016-08-24 09:58] oliwel opened #9 "condition cache in wrong state when factory is shared between workflows"
The condition cache is part of the global factory. If you have more than one workflow of same type from this factory - either by running them in parallel or by handling them one after another using a persister, the workflow cache is NOT cleared prior to "execute_action".

The best fix IMHO would be an explicit call to clear_condition_cache as first command in Workflow::execute_action.

I also thin

[2016-10-01 20:00] jonasbn opened #10 "observers test fail"
This bug originates from: [rt.cpan.org RT:86758](https://rt.cpan.org/Ticket/Display.html?id=86758)

The problem is mentioned in the INCOMPATIBILITIES section of the documentation, but it is also observed with newer version perls (>5.8.8) and should be addressed.

jonasbn

[2017-06-29 17:09] eserte opened #13 "Undeclared dependency Data::UUID"
See subject. The compile test fails on lib/Workflow/Persister/UUID.pm if the module is not installed, so it has either to be declared as a prerequisite, or the failing test should be skipped if the prereqs are not met.

[2017-06-29 18:34] jonasbn commented on #13
Thanks @eserte I will look into it

[2017-06-29 18:50] jonasbn commented on #13
This have been addressed in release 1.45. Thanks for the issue report.

[2017-06-29 18:50] #13 closed

[2017-11-29 06:37] jonasbn commented on #4
This was the answer given at [StackOverflow](https://stackoverflow.com/questions/27921691/perl-workflow-module-with-validator/47498915#47498915)

Hi Vedran,

I located several issues in your example.

Action1.pm has a constructor, this interferes with the inheritance, So this should be deleted leaving your action class as follows

[code]

The main issue that your application receives the input fro

[2017-11-29 06:37] #4 closed

[2018-02-15 13:00] jonasbn commented on #10
The issue [is demonstrated](https://travis-ci.org/jonasbn/perl-workflow/jobs/341868493) by Travis CI.

[2018-04-17 14:35] ppisar opened #14 "t/workflow.t warns about Odd number of elements in anonymous hash at lib/Workflow/Persister/DBI.pm line 268"
Workflow-1.45 as well as current git master HEAD produce "Odd number of elements" warning multiple times when performing t/workflow.t test:

[code]

I have perl 5.26.1 and DBI 1.641. If you need more details, please ask me.

[2018-05-28 16:24] jonasbn opened #15 "Travis Build is broken"
# Issue Template

### Description

Latest Travis build is broken :-/

Ref: https://travis-ci.org/jonasbn/perl-workflow

[2019-05-28 20:02] jonasbn commented on #15
Changed Travis configuration to Perl version 5.14 and 5.28, this should work

[2019-05-28 20:02] #15 closed

[2019-09-03 17:08] perlpunk opened #17 "Workflow 1.46 tarball contains `local` directory"
### Description

The tarball for version 1.46 contains a `local` directory with installed modules.
That's probably accidental.

https://metacpan.org/release/JONASBN/Workflow-1.46
https://metacpan.org/source/JONASBN/Workflow-1.46/local

I stumbled over this while maintaining perl modules in the SUSE Open Build System https://build.opensuse.org/package/show/devel:languages:perl/perl-Workflow

[2019-09-05 17:51] jonasbn commented on #17
This has been addressed in release 1.47, thank you for reporting.

[2019-09-05 17:51] #17 closed

[2019-09-05 19:02] jonasbn commented on #14
This has been addressed in release 1.48, thank you for reporting.

[2019-09-05 19:02] #14 closed

[2020-09-09 21:31] djzort opened #21 "Bug reporting pod section wrong"
I am intentionally skipping the bug template.

In the pod found at https://metacpan.org/pod/Workflow the two "BUG" subheadings both point to rt.cpan rather than to this github issue tracker. The left hand side menu of the metacpan page points here to github.

Your dist.ini has [GithubMeta] and no [PodWeaver] so probably you just need to manually remove those sections of pod

[2020-09-09 21:31] djzort commented on #10
Perl 5.8.8 is seriously ancient history. You may simply wish to set the minimum perl version to 5.10 or newer.

[2020-09-28 19:56] ehuelsmann commented on #10
@djzort That's not a solution for this issue, because as @jonasbn mentions in the original description

So this issue is definitely real and to be investigated.

[2020-09-29 17:34] jonasbn commented on #10
hi @djzort

I prefer not to impose a version on people unless necessary. I normally use: [Perl::MinimumVersion](https://metacpan.org/pod/Perl::MinimumVersion)

[code]

As you can see the minimal Perl version is required is 5.6.0. This is also specified in `dist.ini` - I do however do CI test with a minimum Perl version of 5.14 since this is a requirement from some of the Dist::Zilla plugins I use

[2021-01-06 18:47] ehuelsmann commented on #9
@jonasbn , you added `hacktoberfest`. While it's not October, I'm willing to take this on. However, I would definitely benefit from some direction as to the solution. Should the condition cache move to the workflow itself instead of being maintained in the factory?

[2021-01-06 18:54] ehuelsmann commented on #9
Isn't this a duplicate of #7 ?

[2021-01-06 18:55] ehuelsmann commented on #9
And a duplicate of #5 ?

[2021-01-06 19:54] ehuelsmann commented on #9
@oliwel, when going over the intention of the condition cache, I don't think clearing the condition cache at the beginning of `evaluate_action()` is the solution, because it is used to determine `is_action_available()`; the condition cache is meant to stabilize the outcome of a series of queries against `is_action_available()`, as long as the workflow is in a specific state.

I'm going over the co

[2021-01-06 20:38] ehuelsmann commented on #10
@jonasbn do you have a known setup to reproduce this issue? I don't have access to TravisCI anymore since they changed FOSS support strategy in November 2020.

[2021-01-07 07:51] oliwel commented on #9
@ehuelsmann #7 is exactly the same problem, #5 is just a flag to turn off the caching, I dont see a benefit on that besides healing this bug ;)

Moving this to the factory does not help, we fixed this in our project by adding a clear_condition_cache call in Workflow->init and in Workflow::Action->execute_action which helped while keeping the cache intact at least as far as we observed and tested t

[2021-01-07 19:05] ehuelsmann commented on #7
Duplicate of #9 ; propose to close this one.

[2021-01-07 19:22] #21 closed

[2021-01-07 19:34] jonasbn commented on #9
Hi @oliwel

Please, please, please send a patch upstream, I would love for this issue.

With the recent contributions and initiative by @ehuelsmann, I think we need to get the distribution clean, polished and stabilized.

[2021-01-07 19:35] jonasbn commented on #7
Hi @ehuelsmann

Thanks for taking time to triaging the issue, we close this one.

[2021-01-07 19:35] #7 closed

[2021-01-07 19:41] ehuelsmann commented on #9
@jonasbn I've been studying the code base over the past days. I was wondering if it isn't better to move the cache from the Workflow::State object (which is somewhat global) into the Workflow instance, which has a much more restricted scope for caching. I can submit code to that effect, maybe already tomorrow.

Another thought that I was having is that the current implementation (of the cache) has

[2021-01-07 20:16] oliwel commented on #9
@ehuelsmann  (cc @jonasbn ) it might be benefical to have a realtime chat on this - we messed a lot around with the cache functionality and hacked some internals so I ultimately  want to avoid to break our codebase and likely invent other issues..

[2021-01-07 20:20] jonasbn commented on #9
@oliwel and @ehuelsmann

I have a Slack available if need be, else IRC is my preferred choice. Gitter could also be an option, went for Slack due to the nifty integrations though.

[2021-01-07 20:27] oliwel commented on #9
Its some time ago that I fired up IRC - is there really more than background noise going on :)
We started to use keybase.io in our (keybase.io/inv/b356e0ae60) project but I am also happy to use Slack or IRC. We just need to arrange a timeslot... any time tomorrow between 14 and 22 CET would fit for me.

[2021-01-07 20:31] ehuelsmann commented on #9
I can use Slack, keybase.io and IRC. I think that Slack seems to be the common denominator. Tomorrow between 14 and 22 CET suits me well too, although I may have to tend to other obligations inbetween.

[2021-01-07 20:32] jonasbn commented on #9
I do not know keybase, I will check it out at some point, I have mailed you both invites to the Slack for this repository

[2021-01-07 21:34] #5 closed

[2021-01-07 21:38] jonasbn commented on #10
Hi @ehuelsmann

At time it does seem to be a _heisenbug_, I have not been able to demonstrate it locally, but [the reports from the CPAN-testers](http://www.cpantesters.org/distro/W/Workflow.html?grade=3&perlmat=2&patches=2&oncpan=2&distmat=2&perlver=ALL&osname=ALL&version=1.48) indicate that it exists.

[2021-01-07 23:16] ehuelsmann commented on #6
Lets assume we want to keep the resolution of this ticket to a minimum set of depedencies, that is, without DBIx, do we then want to serialize the result into a string and store that string into a table column?

The ::File backend uses Data::Dumper, however, that requires the use of 'eval()' for thawing the value. This could be a security risk, so preferably, for the database backend, it would be

[2021-01-08 20:04] ehuelsmann commented on #9
PR #27 implements the condition cache as I envisioned it when I brought up the topic yesterday in reaction to @oliwel's proposal to add a few more cache clearing points.

PR #28 is my reaction to @oliwel's statement that the cache would need no more locality than `get_current_actions()` or `execute_action()`. My personal preference is this PR because it eliminates the need to manage the cache thro

[2021-01-09 21:48] ehuelsmann commented on #6
I searched all documentation, but I can't find that there are any guarantees with respect to maintenance of the context during persistence. In the DBI, there's the option to store "extra data" (through the ExtraData persister). @jonasbn  Is this really a bug?

[2021-01-10 10:21] ehuelsmann commented on #8
This can actually be configured in the DSN (for MySQL/MariaDB): "dbi:mysql(mysql_auto_reconnect=>1):...".

See https://metacpan.org/pod/DBD::mysql#mysql_auto_reconnect and https://metacpan.org/pod/DBI#parse_dsn ; the latter most notably regarding the documentation of `attr_str`.

A generic implementation requires work throughout the code base to implement retry-loops or reconnect-checks. Let me kn

[2021-01-10 14:34] jonasbn opened #33 "Migrate from TravisCI to GH Actions"
TravisCI does no longer provided the same CI service as they used to as open source projects are tested with lower priority.

The alternative of GitHub Actions is more promising and since Workflow is using Dist::Zilla this can easy be incorporated using: [GitHub Action Dist::Zilla](https://github.com/jonasbn/github-action-perl-dist-zilla).

Continued use of **Coveralls** would be a plus, it seems

[2021-01-10 14:57] ehuelsmann opened #34 "Don't get the history initial description from the Persister"
# Issue Template

### Description

This issue comes from the old TODO file which didn't specify much more context.

[2021-01-10 15:00] ehuelsmann opened #35 "Move some constant candidates to central place"
# Issue Template

### Description

This issue comes from the old TODO file which didn't specify much more context.

[2021-01-10 15:26] ehuelsmann opened #36 "Add tests to increase coverage >85%"
# Issue Template

### Description

85% is a pretty industry accepted coverage, but to get there we need more tests.

(a little over 78% at the time of creation)

[2021-01-10 15:31] ehuelsmann opened #37 "Add support for string-based configuration"
# Issue Template

### Description

Possibly, we can duplicate behaviour of XML::Simple to allow configuration to be specified not only as file(name)s, but also as string content.

[2021-01-10 15:46] ehuelsmann opened #38 "Document the relation between actions and validators"
# Issue Template

### Description

Currently the relation between validators and actions isn't documented, nor is the difference in roles between conditions and validators. Having such documentation would lower the barrier of entry.

[2021-01-10 20:43] ehuelsmann opened #42 "Investigate use of BPM::XPDL"
Mark Overmeer developed a module [BPM::XPDL](https://metacpan.org/pod/distribution/BPM-XPDL/lib/BPM/XPDL.pod) which seems very much related to Workflow in the sense that it seems to provide a standardized (by [WfMC -- Workflow Management Coalition](http://wfmc.org/) ) workflow specification format.

[2021-01-11 18:53] jonasbn opened #43 "Address Perl::Critic violations"
- [x] Address the sections marked with ## no critic scattered throughout the code base, this might be valid, but another perspective and suggestions for refactorings might be a good idea (patches?)
- [ ] follow up up Perl::Critic policies disabled and marked as TODO in the
  `t/perlcriticrc` file
- [x] Investigate whether use warnings pragma, breaks too much backwards
  compatibility `[TestingAndD

[2021-01-11 18:55] jonasbn opened #44 "Investigate possible integration with standardized XML format"
Investigate possible integration with standardized XML format see interesting module by MARKOV

[2021-01-11 18:56] jonasbn opened #45 "Look into inconsistent XML configuration for persisters"
- Look into inconsistent XML configuration for persisters, this might however
  break backwards compatibility

[2021-01-11 18:56] jonasbn opened #46 "Add more tests of persister configurations"
- Add more tests of persister configurations, could the new SQLlite emulation
  modules be of interest for more testing? DBD::PgLite and related

[2021-01-11 18:57] jonasbn opened #47 "Document general workflow initialization phase"
- Document general workflow initialization phase and the call to the
  Workflow classes init method in a more general way

[2021-01-11 18:57] ehuelsmann commented on #44
@jonasbn I think I filed this one as #42: I wanted to look up the module by MARKOV to make the issue SMARTer.

[2021-01-11 18:57] jonasbn opened #48 "Write up a tutorial"
- Write more POD, including a tutorial

[2021-01-11 19:04] jonasbn commented on #44
Closing this, it is a duplicate of #42

[2021-01-11 19:04] #44 closed

[2021-01-11 19:07] jonasbn opened #49 "Investigate ability to inline more configuration instead of using files"
- Decide where to put the configuration for the built-in
  validators/conditions/actions? Should we make it part of the
  WorkflowFactory initialization process, maybe just keep the built-ins
  configured in a class that's distributed with the module? (We don't
  want to force people to reference a separate file every time...

[2021-01-11 19:10] jonasbn commented on #49
Perhaps this is related to #37

[2021-01-11 19:22] jonasbn commented on #9
I prefer the concept in PR #27 over the one in #28

[2021-01-11 21:06] jonasbn commented on #33
GitHub action for CI now enabled in this branch, so TravisCI could be removed, I would however like to have coveralls enabled also

[2021-01-11 22:28] #9 closed

[2021-01-14 17:36] jonasbn opened #52 "Issues with release 1.49 reported by CPAN-testers"
Example CPAN-testers report demonstrating the issue

REF: http://www.cpantesters.org/cpan/report/0448edfe-560b-11eb-846b-3e0ef3237c92

[code]

[2021-01-14 17:48] jonasbn commented on #52
Overview from email report:

[code]

[2021-01-14 19:59] jonasbn commented on #52
In branch52 all tests have had `lib` adjusted so tests pass with: `PERL_USE_UNSAFE_INC` set to `0` (disabled).

Unsafe `INC` is default inclusion of `.` in include path. This was released with Perl 5.26, see [this blog post](https://www.effectiveperlprogramming.com/2016/06/perl-v5-26-new-features/)

[2021-01-15 07:21] #52 closed

[2021-01-17 11:28] jonasbn commented on #10
Issue observed in latest release also:

REF: http://www.cpantesters.org/cpan/report/d97fb3b0-57d5-11eb-82aa-952a1f24ea8f

[2021-01-19 19:42] ehuelsmann opened #54 "Make extra Action properties available to workflow-users"
# Issue Template

### Description

The documentation for `Workflow::Action` explicitly mentions - under the documentation for `new()` - the ability to pass extra properties. The example being the ability to add an `order` property which the UI can use to sort the actions. I want to do exactly that. See the example below, copied from the documentation:

[code]

In order to access the index value, t

[2021-01-19 19:52] ehuelsmann opened #55 "Promote fields() [and friends] to public methods"
# Issue Template

### Description

In #54, there is a plea to provide access to the action instances for the current state of a workflow in order to be able to access extra properties.

Once access to actions has been established, it makes sense to promote the methods `fields()`, `optional_fields()` and `required_fields()` from private to public: using the same reasoning as used in #54, these meth

[2021-01-19 21:39] ehuelsmann commented on #10
Running a truckload of test rounds on a newly built Perl 5.8.8, I can't reproduce this problem on my machine.

[2021-01-22 19:38] ehuelsmann commented on #10
From the Slack channel:

I found the heisenbug with the observers.

In short: the problem stems from the use of Class::Observable in combination with adding observers on instances -- and the fact that the instances in our test suite end up in exactly the same address -- sometimes.

What I did was instrumenting the observer and the test suite with print statements. This is the output of a failed ru

[2021-01-24 18:03] ehuelsmann commented on #43
@jonasbn with some of the PRs addressed, could you check off the check marks you consider completed, or detail what's left for any that I PR-ed for?

[2021-01-25 07:47] ehuelsmann opened #68 "Consider using generalized logging solutions (like Log::Any)"
# Issue Template

### Description

I've switched the libraries I'm developing from no logging at all to Log::Any. There was no logging, because there are too many logging solutions and I didn't want to limit my library to the users of any specific one. With Log::Any, I only define that I would like to do logging, but the application needs to initialize it with a specific logging implementation. If

[2021-01-25 20:37] ehuelsmann commented on #34
@jonasbn, looking at https://github.com/jonasbn/perl-workflow/blob/master/lib/Workflow/Persister.pm#L240-L255 I'm thinking this is probably already supported, although a derived class would be needed. (It would be trivial to allow setting this in a persister too, I guess.)

[2021-01-25 21:11] ehuelsmann commented on #10
@cwinters, this bug originates from a bug in `Class::Observable`. Is there a (GitHub) repository where we can contribute a fix?

[2021-01-25 21:16] cwinters commented on #10
Hi @ehuelsmann - Even though I was the last releaser of Class::Observable I'm no longer its maintainer. Aristotle Pagaltzis (@ap) is, and it looks like he's got the code here: https://github.com/ap/Class-Observable

[2021-01-25 21:20] ehuelsmann commented on #10
Hi @cwinters, Thanks for the quick response and pointing me/us in the right direction. Heading over to his repository now...

[2021-01-25 21:42] ehuelsmann commented on #10
Filed a bugreport as ap/Class-Observable#1 and a PR as ap/Class-Observable#2 for the fix in Class::Observable.

[2021-01-25 22:10] ehuelsmann opened #72 "Archiving rt.cpan.org#85380: time_zone handling off when fetching history"
Archiving this issue below, because it's mentioned in the code base *and* RT is going away soon.

=========================================

Greetings,

I think I might have stumbled on a minor bug inside this module.

When fetching the history, the DateTime created does not take into
consideration the time zone of the defined workflow ( sub fetch_history ):

    my @history = ();
    while ( my $

[2021-01-25 22:24] ehuelsmann commented on #72
Also see my commit comment https://github.com/jonasbn/perl-workflow/commit/9380d4a722ad79bc13c4c9c1d49b42879e106be5#r46356222 ; I don't understand why this change is necessary for history reproduction, when there is [no similar pattern when fetching the workflow](https://github.com/jonasbn/perl-workflow/blob/master/lib/Workflow/Persister/DBI.pm#L246-L276).

[2021-01-27 20:00] ehuelsmann opened #73 "Fetching workflow history using DBI persister is broken since 1.38"
# Issue Template

### Description

The DBI persister tries to set the time_zone from the workflow in the DateTime parser stored in `$self->parser` by calling the `DateTime::Format::Strptime->time_zone()` method as a setter, which dies with the following error:

[code]

# Bugs and Issues

### Specify what version was used

I used 1.50, but every version as of 1.38 (including 1.38) would suffice.

#

[2021-01-28 06:36] #72 closed

[2021-01-28 06:36] #73 closed

[2021-01-28 16:53] #10 closed

[2021-01-28 19:39] todo[bot] opened #77 "file a bit"
https://github.com/jonasbn/perl-workflow/blob/93b35a55d2af0948f0d2d4b97822a174a76aaa92/Changes.md#L252-L257

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 93b35a55d2af0948f0d2d4b97822a174a76aaa92 when #76 was merged. cc @jonasbn.

[2021-01-28 19:39] todo[bot] opened #78 "file"
https://github.com/jonasbn/perl-workflow/blob/93b35a55d2af0948f0d2d4b97822a174a76aaa92/Changes.md#L284-L289

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 93b35a55d2af0948f0d2d4b97822a174a76aaa92 when #76 was merged. cc @jonasbn.

[2021-01-28 19:39] todo[bot] opened #79 "file"
https://github.com/jonasbn/perl-workflow/blob/436adf1fd3386f047bc15fe64153d9081f6adb6b/Changes.md#L284-L289

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 436adf1fd3386f047bc15fe64153d9081f6adb6b. It&#x27;s been assigned to @jonasbn because they committed the code.

[2021-01-28 19:40] jonasbn commented on #79
Damn bot

[2021-01-28 19:40] #79 closed

[2021-01-28 19:40] jonasbn commented on #78
Damn bot

[2021-01-28 19:40] #78 closed

[2021-01-28 19:40] jonasbn commented on #77
Damn bot

[2021-01-28 19:40] #77 closed

[2021-01-29 13:06] ehuelsmann commented on #72
I tried to implement setting the time zone on the parsed `$dt` object, but `fetch_workflow` takes a `$wf_id`, not a workflow object itself. This means that this method cannot return a DateTime instance with the correct time zone set. I think given this fact it makes sense that the history side of things uses a similar pattern and does not set a time zone either.

This does introduce a bit of an is

[2021-01-30 12:14] todo[bot] opened #87 "items migrated to issues"
https://github.com/jonasbn/perl-workflow/blob/28a064f61dfcc7d3122282daeee31d8384936984/Changes.md#L27-L32

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 28a064f61dfcc7d3122282daeee31d8384936984 when #84 was merged. cc @jonasbn.

[2021-01-30 12:14] todo[bot] opened #88 "items migrated to issues"
https://github.com/jonasbn/perl-workflow/blob/be41200d29df09f265c55a90e11285c96fb39cfc/Changes.md#L27-L32

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in be41200d29df09f265c55a90e11285c96fb39cfc. It&#x27;s been assigned to @jonasbn because they committed the code.

[2021-01-30 12:16] jonasbn commented on #87
Not a proper issue, I expect the number of these to decrease with the migration from the to-do file to GitHub issues

[2021-01-30 12:16] #87 closed

[2021-01-30 12:16] jonasbn commented on #88
Not a proper issue, I expect the number of these to decrease with the migration from the to-do file to GitHub issues

[2021-01-30 12:16] #88 closed

[2021-01-30 12:46] ehuelsmann opened #89 "Investigate performance impact of removal of `is_debug` calls (and friends)"
# Issue Template

### Description

The code base is littered with calls to `is_debug()` and friends before actually calling the logger's `debug()` output function. While this pattern prevents extensive log message generation in some cases (like calling `Data::Dumper::Dumper()`), it mostly prevents string interpolation and often even not that.

For string interpolation, there is the option to eithe

[2021-01-30 17:54] ehuelsmann commented on #45
Could you provide some detail on what's required to close this issue? I'm completely in the dark as to what is "inconsistent" here...

[2021-02-02 07:18] jonasbn opened #92 "Improve INSTALL documentation"
As [commented](https://dev.to/thorstenhirsch/comment/1b24d) on the 1.50 release announcement on dev.to, the installation documentation is not very helpful.

The instructions cannot be used on the repository contents, but require a tar-ball release generated by Dist::Zilla.

[2021-02-02 07:23] jonasbn opened #93 "Adjust Dist::Zilla configuration to only support ExtUtils::MakeMaker"
Currently the Dist::Zilla configuration support both:

- Module::Build
- ExtUtils::MakeMaker

This is [not recommended](https://neilb.org/2015/05/18/two-build-files-considered-harmful.html), it is actually considered harmful

Eliminated support for Module::Build

[2021-02-02 21:08] ehuelsmann opened #95 "PR #85 introduced a bug fetching workflow history"
# Issue Template

### Description

`DBD::Pg::st execute failed: ERROR: relation "workflow_id" does not exist LINE 3: FROM "workflow_id" ^ at /usr/local/share/perl/5.28.1/Workflow/Persister/DBI.pm line 392`

Where the SQL being executed is:

[code]

the table name should be `workflow_history`, not `workflow_id`

# Bugs and Issues

### Specify what version was used

1.51

[2021-02-03 21:21] #95 closed

[2021-02-10 18:22] #93 closed

[2021-02-10 18:32] #92 closed

[2021-02-17 16:22] jonasbn commented on #68
The suggestion from @oliwel (on Slack) is to use an instance variable or an over writable method so we can add any logger and the logger should loaded runtime instead of compile time.

@oliwel please add any further details if I misinterpreted your statement in the Slack.

I addition, it seems workflow is requiring a logging mechanism, what if this is not the case. Should we support that use-case

[2021-02-17 18:05] ehuelsmann commented on #68
Both `Log::ger` and `Log::Any` do exactly what @oliwel describes:

[code]

creates an instance variable which holds a generalized logger. This logger can be initialized using `Log4perl` or `Log::Dispatch` or any other logger (even a code reference) at runtime, even with no logger at all to disable all logging.

[code]
sets a Log4perl logging target.

[2021-03-11 09:38] oliwel commented on #68
In our application we currently drop all logs from Workflow itself as it is to noisy, if we talk about log reorganisation I also want to address / discuss different facilities or loglevels for the different exceptions. We already removed condition errors from the log but I think there should also be a difference between a validation error (caused by improper input so it can be handled by the user)

[2021-03-11 20:29] ehuelsmann commented on #68
I'd like to second @oliwel 's request to differentiate various log levels and reserving ERROR for something that needs admin level attention -- which means a validation error is, in terms of logging, *at most* an __information__ level log entry. I'd prefer debug, though.

As for the condition errors that are currently filtered out: I'd like to propose to add them back, just with a __trace__ level

[2021-03-11 21:49] ehuelsmann commented on #68
@oliwel does the above change suffice to make things sufficiently silent?

[2021-03-12 07:03] oliwel commented on #68
Your response times are awesome ;)

I'd opt to have the validation_error on info. When you run this "with users" you sometimes get blamed that "it was not working" and I saved my good reputation more than once as I could prove it was not my fault by showing the user that his input was wrong ;)

That would make it easy to monitor on error and likely warn with "admin alert" and log on info to check

[2021-03-12 07:30] ehuelsmann commented on #68
I was wondering between INFO and DEBUG indeed. I've changed it to INFO in the PR now.

[2021-04-09 19:39] ehuelsmann commented on #55
Ok. So, while the public API doesn't direcly allow querying optional vs required fields (and if it doesn't, then why have these private methods???), but: the Workflow instance allows querying the set of 'current' (=allowable) actions (`get_current_actions([$group])`); once the current actions are available (by name), the fields for that action can be queried using the workflow instance by calling

[2021-04-09 20:04] ehuelsmann commented on #42
`wfmc.org` doesn't seem to be associated with an association or coalition anymore; instead it looks like it's someone's personal gimmick now. Although BPM::XPDL remains, the reference documentation seems to be gone. Should this issue be closed?

[2021-04-16 21:20] ehuelsmann opened #106 "Allow the use of user-provided history class"
# Issue Template

### Description

The library currently does not support using a different history class than the one that comes with Workflow. If a user of the library has additional fields to serialize and restore, the current setup does not suffice for that.

In my case: the users of my application have an "id" I want to link them to (next to putting their user names in the "username" field --

[2021-04-16 21:30] ehuelsmann opened #107 "Allow the use of user-provided workflow class"
# Issue Template

### Description

The Workflow class is currently hard-coded into the factory as the class to use for workflow instances. However, e.g. #34 could be addressed by users of the library, if only they could override the Workflow class to be used.

(Currently the class of Workflow::History is hard-coded into Workflow.pm)

To understand

# Bugs and Issues

### Specify what version was u

[2021-04-18 20:08] #55 closed

[2021-04-18 20:12] jonasbn commented on #54
Closed by #56

[2021-04-18 20:12] #54 closed

[2021-04-20 20:29] jonasbn opened #109 "Support for attributes in persister connections"
I have received a suggestion via e-mail. The suggestion was to support UTF-8 for persisters.

Since the DBI drivers (DBDs) are handling this very differently:

DBD::MySQL:

[code]

- SQLite does it natively
- PostgreSQL uses an accessor
- Oracle uses environment variables

But I spotted that we do not feed the options/attributes to the DBI connect, perhaps this should be possible?

[code]

From li

[2021-04-20 20:32] ehuelsmann commented on #109
Love the idea to support driver attributes!

For Pg, the driver already supports UTF-8 by default since 3.0.0 (2014-02-04) (see https://metacpan.org/pod/DBD::Pg#pg_enable_utf8-(integer)).

[2021-04-24 19:16] ehuelsmann commented on #106
In order to be able to use configurable `Workflow::History` classes, there's a design problem in `Workflow::Persister->fetch_history()`: its definition states that it is to return `Workflow::History` instances, which tightly couples the persister with history. The integration between the persister and `Workflow` is much lighter: the persister is documented to return a hash with initialization para

[2021-04-25 22:33] ehuelsmann opened #113 "Action configuration specified in the workflow state, is ignored"
# Issue Template

### Description

Bullet (2) under https://metacpan.org/pod/Workflow::Action#new() describes how parameters (here: `index`) can be added as part of the workflow state specification.

Going over the code base, i can't find where the configuration is merged into the actions instantiated. The configuration is saved in https://github.com/jonasbn/perl-workflow/blob/c3e0b8d1254ab593f8bd

[2021-04-26 19:33] #33 closed

[2021-04-27 07:09] ehuelsmann opened #116 "Improve "Subclassing: Getting handle from elsewhere" in DBI persister docs"
The docs currently refer to OpenInteract2 which is available on [sourceforge](http://openinteract.sourceforge.net/docs/oi2/); however, it does not seem to be maintained anymore. The same section refers to [SPOPS](https://metacpan.org/pod/SPOPS) which - given the fact that it has not succeeded on any cpantester build newer than Perl 5.11.1 - should be considered "archived".

https://github.com/jona

[2021-05-16 20:30] ehuelsmann opened #121 "Workflow::State->get_conditions() returns objects and hashes"
### Description

Workflow::State->get_conditions() may return raw hashes in the list of returned objects (whereas only returned objects are documented).

The hashes are being used for negated conditions. While I understand that this is a practical solution, `get_conditions()` is a public api and the two types of return values make for more complex handling of the return value.

# Bugs and Issues

[2021-05-16 20:41] ehuelsmann commented on #121
# Proposed solution

Instead of special-casing negated conditions throughout the code base, I'd like to propose to special-case negated conditions upon instantiation:

I'd like to implement `Workflow::Condition::Negated` which wraps the evaluation of negated condition.

If the negated condition evaluates the wrapped condition through `evaluate_condition` (as it should), caching will even be done c

[2021-05-18 19:35] ehuelsmann commented on #107
Given the size of #119, I'd like to argue this is actually 1.55 material.

[2021-05-18 19:50] ehuelsmann commented on #113
As discussed on Slack, this issue can be solved by deprecating the Factory's `get_action` method and creating a new `get_action` method (which returns an action instance) in the State: Action configuration can be added-to in the state.

[2021-05-20 18:14] #113 closed

[2021-05-20 18:21] #121 closed

[2021-05-20 19:45] jonasbn commented on #89
I did some very basic and _unscientific benchmarking_ on the test suite, I could not see any impact at all.

Branch (PR #108):

[code]

Master:

[code]

[2021-05-20 19:45] #89 closed

[2021-05-20 20:20] ehuelsmann opened #124 "Change the API between Workflow and Workflow::Persister"
### Description

The persister currently has Workflow::History instantiation built in. However, that tightly couples Workflow (and Workflow::History) with the Persister, which I think shouldn't be necessary. The coupling between the Workflow (not the history), the Factory and the Persister is much better in the sense that the Persister returns a hash which holds the database fields used to instant

[2021-07-06 05:38] #107 closed

[2021-07-07 05:27] jonasbn opened #125 "Evaluate option to deprecate use of XML for YAML"
Meaning the options for configuration and use of Workflow, is focused on a single (and more popular) choice

[2021-07-07 05:29] jonasbn opened #126 "Replace deprecated/discouraged `XML::Simple` with `XML::Twig`"

[2021-07-10 08:55] ehuelsmann opened #129 "Workflow::State breaks abstraction and does so incorrectly"
In https://github.com/jonasbn/perl-workflow/blob/603c96e173b48fcbe52c53232d32fd4c89ec0304/lib/Workflow/State.pm#L64, Workflow::State directly accesses the factory's internal configuration -- thereby breaking the separation of concerns. And it does so *incorrectly*: as per https://github.com/jonasbn/perl-workflow/blob/603c96e173b48fcbe52c53232d32fd4c89ec0304/lib/Workflow/Factory.pm#L564 it is clear

[2021-07-11 21:03] ehuelsmann commented on #49
Hasn't this been solved long ago by https://github.com/jonasbn/perl-workflow/blob/603c96e173b48fcbe52c53232d32fd4c89ec0304/lib/Workflow/Factory.pm#L933 ?

[2021-07-14 05:18] #129 closed

[2021-07-14 21:22] ehuelsmann opened #137 "Remove Workflow::Exception::Validation"
# Description

In 2.0, we will be parting with the idea that a condition evaluating to "False" is an exceptional situation. As a result, we removed the requirement for conditions to raise an exception on failure, replacing it with the requirement to return true/false values.

As it turns out, the 1.x code base uses the same pattern for validators as we used to use for 1.x: `Workflow->validate()` d

[2021-07-14 22:05] ehuelsmann commented on #106
There's an important question in this issue that we need to solve before I can develop this change: Do we make it the responsibility of the factory to instantiate history objects for the workflow? Or is that the responsibility of the workflow itself?

And in case of the latter, do we make it the responsibility of the Workflow class to make sure the history class/module is loaded? Or is that a resp

[2021-07-15 06:08] oliwel commented on #137
What I think that should work: use a combined class that has three sections:
1. A "validate" method, arguments are (as of today) the input values defined by the config, return true/false
2. A "condition" method, no arguments but accessor to the current context
3. A list of "named params", with in-class default values, that are read from the configuration

This allows a user to put the logic based

[2021-07-15 22:24] ehuelsmann commented on #137
Thinking from the structure we have in place now: Condition has a class method which should be called in order to evaluate conditions. Should we create similar infrastructure in validations, where the class method sets up the additional arguments from the workflow context, as the action currently does (from the list of "named parameters" and the available workflow context)?

When we have these two

[2021-07-16 05:41] jonasbn commented on #49
I will check it out

[2021-07-29 09:52] #124 closed

[2021-07-29 13:18] ehuelsmann commented on #106
#138 implements a change where the answer in the above comment is implemented as:

[code]

Since the workflow is also responsible for generating history, with the configured history class, it's an automatic choice to allocate this responsibility to the workflow. The Factory currently has no role in history handling; the only thing it does is separating the concerns between the workflow and the per

[2021-07-29 13:23] jonasbn commented on #106
We close this is, as we consider it as addressed by #138

[2021-07-29 13:24] ehuelsmann commented on #36
@jonasbn We're at 86.39 now! (see https://coveralls.io/builds/41750124); however, some part of `lib/` is included, which causes the total coverage being reported at 85%.

Two things. First: This goal has been realized and we can close this issue. Second: I'll have to check how to exclude `lib/` from coverage reporting.

[2021-07-29 13:45] ehuelsmann commented on #137
Another approach to preventing code-duplication would be to have a condition which says "the action satisfies all validations" or "the action satisfies validation X".

[2021-07-29 22:39] ehuelsmann commented on #106
I was too early to propose to close this. I'm working on a PR which implements the remainder.

[2021-07-30 19:03] #36 closed

[2021-07-30 20:33] jonasbn commented on #36
Awesome!

[2021-08-01 08:54] ehuelsmann commented on #68
@jonasbn one of the comments on irc://libera.chat/#perl was that *any* logging abstraction library was overkill and that some of the participants in the discussion suggested to pass a sub into the library configuration which can be called with a logging level and the log message (or log message producing coderef). Adding that stance to the issue for reference of available options.

[2021-08-01 09:02] ehuelsmann commented on #6
@oliwel from your experience: should the serialization solution support restoring objects? Or is that too complex and should users simply not expect blessed values to carry over from one state to another?

[2021-08-01 12:57] ehuelsmann commented on #68
Ok. So, after some conversations: `Log::Any` doesn't have *any* non-core dependencies (not even Log4perl). By requiring adapters (like `Log::Any::Adapter::Log4perl`), application developers can select their logging mechanism.

[2021-08-01 15:41] oliwel commented on #6
We decided to NOT serialize objects due to security and portability reasons. Our persister does serialization per key/value pair and uses JSON to store non-scalar items which makes the database at least somewhat searchable.

[2021-08-01 19:58] ehuelsmann commented on #68
Implemented using #164 .

[2021-08-01 19:58] #68 closed

[2021-08-04 13:44] ehuelsmann commented on #137
Taking a step back to look at the function validators perform (versus conditions), I've come up with the following analysis. Excuse me for putting in total obviousness;

# Comparing Validators with Conditions

The comparison below helps me understand the commonalities and differences between conditions and validators as a tool to understand why they are different implementations today and how they

[2021-08-04 20:44] #34 closed

[2021-08-18 18:21] #106 closed

[2021-09-12 12:33] ehuelsmann commented on #137
@jonasbn I hope we can discuss the analysis above (maybe on Slack sometime) so I come up with a PR to shoot at.

[2021-09-12 17:25] jonasbn commented on #137
Hi @ehuelsmann I would really love too, but currently I am stuck in a work tar pit, with 60+ hour work weeks, so I am not able to do anything constructive or time consuming at this point, due to time constraints. My hope is work will settle down over the next few weeks and I can get back to a normal work-life balance and to doing some more open source again

[2021-09-12 17:47] ehuelsmann commented on #137
Thanks for the update! Good luck at work and stay healthy!

[2021-10-09 19:58] ehuelsmann opened #172 "Autorun INITIAL state throws an error"
# Issue Template

### Description

When creating an `autorun="yes"` INITIAL state, instantiating that workflow throws a "can't call method `name` on Workflow::State instance" type of error message. The correct method name would have been `state`.

# Bugs and Issues

### Specify what version was used

1.56

### Expected behaviour

The workflow is advanced to the next state.

### Actual and observed

[2021-12-11 19:33] jonasbn commented on #43
Ok, we still disable strictures in a few places as reported by [TestingAndDebugging::ProhibitNoStrict](https://metacpan.org/pod/Perl::Critic::Policy::TestingAndDebugging::ProhibitNoStrict)

[2021-12-11 20:22] jonasbn commented on #126
What is the risk is regard to backwards compatibility? could this be done prior to version 2.0 ?

[2021-12-11 21:26] jonasbn commented on #43
We should not have any issues with [TestingAndDebugging::RequireUseWarnings] since we are requiring Perl 5.14

[2022-01-09 20:40] ehuelsmann opened #180 "Move from DateTime to DateTime::Tiny"
# Issue Template

### Description

DateTime accurately describes *and calculates* with time and date. Our purpose isn't to calculate with dates, time and intervals, but rather to **represent them**. The latter is what DateTime::Tiny is geared up for. With maximum speed and minimum code/complexity.

The reasoning here: why drag more code with us than required and why use a type which is very instan

[2022-01-09 20:43] ehuelsmann commented on #180
There's one downside here: timezones.

[2022-01-11 16:59] jonasbn commented on #180
@ehuelsmann could you please elaborate on the downside.

Is it the fact that we might need to be able to convert them?

[2022-01-11 18:27] ehuelsmann commented on #180
There's the combination of needing to be able to convert between them and the API (currently) being tied to `DateTime`:

https://github.com/jonasbn/perl-workflow/blob/master/lib/Workflow/Persister/DBI.pm#L601-L608

It's unclear to me at this point if there are databases that require us to parse input from the database *with* a timezone. Also, there's exactly one format that `DateTime->from_string(

[2022-01-15 18:18] ehuelsmann opened #181 "Remove `fetch_extra_workflow_data()`"
# Issue Template

### Description

There's an API in the main persister `fetch_extra_workflow_data()`. This API is called by the DBI persister after having fetched its data from the database. My proposal is to remove this API because it is duplicated functionality:

The only way to implement this API is by creating a new class derived (directly or indirectly) from the DBI persister class. Yet, if

[2022-01-15 23:34] ehuelsmann commented on #181
There's an additional weirdness going on: the extra data gets stored in the `context` of the workflow. However, if the context gets correctly serialized, then why store the extra data double? Shouldn't the "extra data" be a facility orthogonal to the `context`?

[2022-01-16 23:10] ehuelsmann opened #183 "Use RETURNING clause and IDENTITY GENERATED ALWAYS for Ids"
# Issue Template

### Description

PostgreSQL, Oracle, MySQL/MariaDB and SQLite all support RETURNING, which saves a "post-fetch".

All except SQLite support GENERATED ALWAYS AS IDENTITY. SQLite supports autoincrement. All of these allow RETURNING to indicate the ID primary key of the newly inserted row. All of the above also have functions to generate UUID columns.

Using the database to assign t

[2022-01-24 20:12] #43 closed

[2022-01-27 18:29] ehuelsmann commented on #35
@jonasbn was this handled by b6ce54a69c389736dd8d9bcc4c56c077dc191995 ?

[2022-01-27 20:10] jonasbn commented on #35
@ehuelsmann for now, if we come up with more helpful constants we can find a way to share them, but lets say this is good for now.

[2022-01-27 20:12] jonasbn commented on #35
Closed by PR #178

[2022-01-27 20:13] #35 closed

[2022-02-06 20:58] ehuelsmann commented on #181
Yet more notes: There's also some asymmetry going on: when is this data being serialized? In other words: shouldn't there be *at least* be something symmetric to *store* this data?

Since there's nothing like it, I'm advocating again to remove this method; for the storage side, I'm already overriding `create_workflow` and `update_workflow`.

[2022-02-17 08:30] jonasbn commented on #181
Hi @ehuelsmann

I sounds like a good idea to remove the extra data concept if it is redundant. By redundant you mean it is redundant with general context?

[2022-03-02 19:20] #181 closed